*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
.gallery {width: 1250px; margin: 50px auto; }
.gallery  article{ width: 600px; height: 420px; overflow: hidden;float: left; overflow: hidden; margin-right: 20px; margin-bottom: 20px; background: #f8f8f8;}
.gallery  article:nth-child(even){ margin-right: 0;}
.gallery  article div.left{ float: left; width: 300px;}
.gallery  article div.left img{ width: 300px; height: 420px; }
.gallery  article div.right{ float: left; width: 300px; padding:20px}
.gallery  article div.right h3{ font-size: 30px; }
.gallery  article div.right ul{ margin-top: 35px; margin-bottom: 30px; }
.gallery  article div.right ul li { border-bottom: 1px solid #eee; padding:15px 0; font-size: 18px; }
.gallery  article div.right button { cursor: pointer; padding:10px 35px; border:1px solid #666; background: #fff; font-size: 16px; transition:0.4s}
.gallery  article div.right button:hover { background: #000; color:#fff }