.Form  {}
.Form p{ width: 100%; padding:40px 0; background-color:#efefef; text-align: center;}
.Form p input{ width: 60%; height: 60px; padding:0 10px; border:none; vertical-align: top; font-size: 25px; outline: none;}
.Form p button{ border: none; background-color: #333; width: 120px; height: 60px; color:#fff}