.List {}
.List ul{}
.List ul li{ height: 60px; background-color: azure; padding: 0 30px;
font-size: 20px; line-height: 60px; position: relative;}   
.List ul li span{ font-weight:  600;}
.List ul li strong {margin-left:30px}
.List ul li button {position: absolute; right: 30px; top: 10px; 
width: 70px; height: 40px; border: #000; background:#90AfAE; color: #000;}

.on {
    color : red; text-decoration: line-through;
}