.Test4 {width: 550px; padding: 20px; border: 1px solid black; margin: 0 auto;
    h3{font-size: 25px;font-weight: 600; margin-bottom: 20px;}
    ul{
        li{margin-bottom: 10px;
            span{
                float: left;
            }
        }
    }
}