*{margin:0; padding:0}
.App {margin-left: 20px;}
.App nav {margin-bottom:30px; margin-top:50px; border-bottom:2px solid #333; padding-bottom:20px}
.App nav ul { display: flex }
.App nav ul li {margin-right:20px; list-style:none;}
.App nav ul li a {text-decoration: none; color:#333}
.App h4 { margin-bottom: 20px;}
